/build
*.iml
.gradle
.idea
buildSrc
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
buildSrc/build/tmp/jar/MANIFEST.MF
buildSrc/build/libs/buildSrc.jar
